Flask
Flask-Cors
gunicorn
ipykernel
ipython
jupyter
Keras-Preprocessing
matplotlib
numpy
opencv-python
pandas
pickleshare
Pillow
QtPy
requests
scikit-learn
scipy
seaborn
sklearn
tensorflow-cpu
werkzeug
